<html>

<head>
	<title>Cryptarch | Destiny Manifest Search</title>
	<link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/446514/favicon.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/searchkit/0.9.0/theme.css" rel="stylesheet" />
	<meta property="og:image" content="https://s3-us-west-2.amazonaws.com/s.cdpn.io/446514/destiny_vendor_icon___cryptarch_og.png" />
</head>

<body>
	<div id='root'>
	</div>
	<script src="/static/bundle.js"></script>

</body>

</html>
