.sk-layout__top-bar {
	background: #2a333e !important;
}

.sk-layout__body {
	min-height: calc(100% - 60px);
}

.sk-hits-grid-hit {
    padding: 5px;
    max-width: 250px;
    -webkit-box-flex: 110px;
    -webkit-flex: 110px 0 0;
    -ms-flex: 110px 0 0;
    flex: 110px 0 0
}

.top-bar-menu-logo {
	margin-right: 15px;
}

.sk-layout {
	//background: #f4f4f4;
	background: #1D2227;
}

.sk-layout__results,
.sk-layout__filters {
	//background: #12171C;
	//background: #1E242B;
	//background: #2A333E;
	background: #292E32;
}

.sk-hits-grid-hit a {
	//color: #ffce1f;
	color: #fff;
}

.sk-toggle-option.is-active {
    background-color: #1D2227;
    border-color: #fff;
		color: #fff;
}

.sk-panel__header,
.sk-toggle-option,
.sk-reset-filters {
	color: #ffce1f;
}

.sk-item-list-option.is-active .sk-item-list-option__text,.sk-item-list-option.is-selected .sk-item-list-option__text {
    color: #fff;
}


.sk-item-list-option__text {
	color: #999;
	//color: #ccc;
}

.sk-refinement-list__view-more-action{
	color: #65696C;
}

.sk-select select {
	color: #fff;
}

.sk-hits-grid-hit img {
		display: inline-block;
		vertical-align: middle;
		width: 98px;
		height: 98px;
		border: 2px solid #fff;
	}

.sk-layout__filters .filter--itemtype-weapon,
.sk-layout__filters .filter--itemtype-armor,
.sk-layout__filters .filter--itemtype-item,
.sk-layout__filters .filter--itemtype-quest-step,
.sk-layout__filters .filter--itemtype-engram,
.sk-layout__filters .filter--itemtype-bounty,
.sk-layout__filters .filter--itemtype-emblem,
.sk-layout__filters .filter--itemtype-consumable,
.sk-layout__filters .filter--itemtype-completed-bounty,
.sk-layout__filters .filter--itemtype-bounty-reward,
.sk-layout__filters .filter--itemtype-material-exchange,
.sk-layout__filters .filter--itemtype-mission-reward,
.sk-layout__filters .filter--itemtype-currency,
.sk-layout__filters .filter--itemtype-primary,
.sk-layout__filters .filter--itemtype-special,
.sk-layout__filters .filter--source-roi {
	margin-bottom: 0px !important;
}

.filter--itemtype-armor .sk-panel__header,
.filter--itemtype-item .sk-panel__header,
.filter--itemtype-armor .sk-panel__header,
.filter--itemtype-item .sk-panel__header,
.filter--itemtype-quest-step .sk-panel__header,
.filter--itemtype-engram .sk-panel__header,
.filter--itemtype-bounty .sk-panel__header,
.filter--itemtype-emblem .sk-panel__header,
.filter--itemtype-consumable .sk-panel__header,
.filter--itemtype-completed-bounty .sk-panel__header,
.filter--itemtype-bounty-reward .sk-panel__header,
.filter--itemtype-material-exchange .sk-panel__header,
.filter--itemtype-mission-reward .sk-panel__header,
.filter--itemtype-currency .sk-panel__header,
.filter--itemtype-message .sk-panel__header,
.filter--itemtype-special .sk-panel__header,
.filter--itemtype-heavy .sk-panel__header,
.filter--source-ttk .sk-panel__header {
	margin-bottom: 0;
}
